
<body onload="getdata()">

    <div class="container w-75 mt-3 border text-dark" id="maindiv">

        <div id="datadiv" class="border">

            <div class="row m-2">
                <div class="col border text-center">ProductID</div>
                <div class="col border text-center">ProductName</div>
                <div class="col border text-center">Price</div>
                <div class="col border text-center">Quantity</div>
                <div class="col border text-center">Action</div>
            </div>

        </div>

        <div class="d-flex justify-content-center">

            <button type="submit" class="btn btn-info btn-sm m-2" onclick="cartsummary()">Cart
                Summary</button>

        </div>
    </div>
