<p>student-list works!</p>
<div class="container">
    <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">AGE</th>
            <th scope="col">AVERAGE</th>
            <th scope="col">GRADE</th>
            <th scope="col">ACTIVE</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngStyle]="{'background-color':getGradeColor(Model.Grade)}" [ngSwitch]="Model.Grade" *ngFor="let Model of StudentModel">
            <td>{{Model.Id}}</td>
            <td>{{Model.Name}}</td>
            <td>{{Model.Age}}</td>
            <td>{{Model.Average}}</td>
            <td>{{Model.Grade}}</td>
            <td *ngIf="Model.Active">{{Model.Active}}</td>
          </tr>
        </tbody>
    </table>
</div>
