<p>student-list works!</p>

<div class="container my-3 p-4 shadow">
    <div class="row">
    <h2 class="text-center">Student Form Data</h2>
    </div>
    <hr>
    <div class="table-responsive">
          <table class="table table-bordered ">
            <thead>
            <tr>
            <th scope="col">Student's Full Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Place Of Birth</th>
            <th scope="col">First Language</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th scope="col">Pin</th>
            <th scope="col">Father's Full name</th>
            <th scope="col">Father's Email</th>
            <th scope="col">Father's Education Qualification</th>
            <th scope="col">Father's Profession</th>
            <th scope="col">Father's Designation</th>
            <th scope="col">Father's Phone</th>
            <th scope="col">Mother's Full name</th>
            <th scope="col">Mother's Email</th>
            <th scope="col">Mother's Education Qualification</th>
            <th scope="col">Mother's Profession</th>
            <th scope="col">Mother's Designation</th>
            <th scope="col">Mother's Phone</th>
            <th scope="col">Relation</th>
            <th scope="col">Number</th>
            <th scope="col">Reference Through</th>
            <th scope="col">House No.</th>
            <th scope="col">AddressLine1</th>
            <th scope="col">AddressLine2</th>
            <th scope="col">Phone No.</th>
            <!-- <th scope="col">Edit</th> -->
            <th scope="col">Remove Student Data</th>
        </tr>
        </thead>
        <tbody *ngFor="let student of studentList;let i=index">
          <tr>
            <td>{{student.firstName}} {{student.middleName}} {{student.lastName}}</td>
            <td>{{student.birthDate}}</td>
            <td>{{student.birthPlace}}</td>
            <td>{{student.firstLanguage}}</td>
            <td>{{student.address.city}}</td>
            <td>{{student.address.state}}</td>
            <td>{{student.address.country}}</td>
            <td>{{student.address.pin}}</td>
            <td>{{student.fatherDetails.fatherFirstName}} {{student.fatherDetails.fatherMiddleName}} {{student.fatherDetails.fatherLastName}}</td>
            <td>{{student.fatherDetails.fatherEmail}}</td>
            <td>{{student.fatherDetails.fatherEducationQualification}}</td>
            <td>{{student.fatherDetails.fatherProfession}}</td>
            <td>{{student.fatherDetails.fatherDesignation}}</td>
            <td>{{student.fatherDetails.fatherPhone}}</td>
            <td>{{student.motherDetails.motherFirstName}} {{student.motherDetails.motherMiddleName}} {{student.motherDetails.motherLastName}}</td>
            <td>{{student.motherDetails.motherEmail}}</td>
            <td>{{student.motherDetails.motherEducationQualification}}</td>
            <td>{{student.motherDetails.motherProfession}}</td>
            <td>{{student.motherDetails.motherDesignation}}</td>
            <td>{{student.motherDetails.motherPhone}}</td>
            <td>{{student.emergencyContactList.emergencyContactListRelation}}</td>
            <td>{{student.emergencyContactList.emergencyContactListNumber}}</td>
            <td>{{student.referenceDetails.referenceThrough}}</td>
            <td>{{student.referenceDetails.addressWithTelephoneHouseno}}</td>
            <td>{{student.referenceDetails.addressWithTelephoneAddressLine1}}</td>
            <td>{{student.referenceDetails.addressWithTelephoneAddressLine2}}</td>
            <td>{{student.referenceDetails.addressWithTelephonePhone}}</td>
            <!-- <td><button class="btn btn-primary btn-sm" (click)="editStudent(i)">edit</button></td> -->
            <td><button class="btn btn-primary btn-sm" (click)="deleteStudent(i)">remove</button></td>
          </tr>
        </tbody>
    </table>
    </div>
</div>

